body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f9fa;
  color: #14171a;
}

* {
  box-sizing: border-box;
}

input, textarea {
  font-family: inherit;
  outline: none;
  border: 1px solid #e1e8ed;
}

input:focus, textarea:focus {
  border-color: #1da1f2;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.App {
  min-height: 100vh;
}